<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>_SPCommandLineArguments</key>
		<array>
			<string>/usr/sbin/system_profiler</string>
			<string>-nospawn</string>
			<string>-xml</string>
			<string>SPAirPortDataType</string>
			<string>-detailLevel</string>
			<string>full</string>
		</array>
		<key>_SPCompletionInterval</key>
		<real>1.7675279378890991</real>
		<key>_SPResponseTime</key>
		<real>1.8610830307006836</real>
		<key>_dataType</key>
		<string>SPAirPortDataType</string>
		<key>_detailLevel</key>
		<integer>-1</integer>
		<key>_items</key>
		<array>
			<dict>
				<key>spairport_airport_interfaces</key>
				<array>
					<dict>
						<key>_name</key>
						<string>en0</string>
						<key>spairport_airdrop_channel</key>
						<integer>149</integer>
						<key>spairport_airport_other_local_wireless_networks</key>
						<array>
							<dict>
								<key>_name</key>
								<string>OPPO A9x</string>
								<key>spairport_network_bssid</key>
								<string>c6:e1:a1:82:4e:27</string>
								<key>spairport_network_channel</key>
								<integer>11</integer>
								<key>spairport_network_phymode</key>
								<string>802.11n</string>
								<key>spairport_network_type</key>
								<string>spairport_network_type_station</string>
								<key>spairport_security_mode</key>
								<string>spairport_security_mode_wpa2_personal</string>
								<key>spairport_signal_noise</key>
								<string>-72 dBm / 0 dBm</string>
							</dict>
							<dict>
								<key>_name</key>
								<string>lierda</string>
								<key>spairport_network_bssid</key>
								<string>06:69:6c:25:e6:99</string>
								<key>spairport_network_channel</key>
								<integer>6</integer>
								<key>spairport_network_country_code</key>
								<string>CN</string>
								<key>spairport_network_phymode</key>
								<string>802.11n</string>
								<key>spairport_network_type</key>
								<string>spairport_network_type_station</string>
								<key>spairport_security_mode</key>
								<string>spairport_security_mode_wpa2_personal_mixed</string>
								<key>spairport_signal_noise</key>
								<string>-52 dBm / 0 dBm</string>
							</dict>
							<dict>
								<key>_name</key>
								<string>lierda</string>
								<key>spairport_network_bssid</key>
								<string>06:69:6c:2f:7b:8c</string>
								<key>spairport_network_channel</key>
								<integer>6</integer>
								<key>spairport_network_country_code</key>
								<string>CN</string>
								<key>spairport_network_phymode</key>
								<string>802.11n</string>
								<key>spairport_network_type</key>
								<string>spairport_network_type_station</string>
								<key>spairport_security_mode</key>
								<string>spairport_security_mode_wpa2_personal_mixed</string>
								<key>spairport_signal_noise</key>
								<string>-42 dBm / 0 dBm</string>
							</dict>
							<dict>
								<key>_name</key>
								<string>lierda</string>
								<key>spairport_network_bssid</key>
								<string>06:69:6c:25:e4:cd</string>
								<key>spairport_network_channel</key>
								<integer>1</integer>
								<key>spairport_network_country_code</key>
								<string>CN</string>
								<key>spairport_network_phymode</key>
								<string>802.11n</string>
								<key>spairport_network_type</key>
								<string>spairport_network_type_station</string>
								<key>spairport_security_mode</key>
								<string>spairport_security_mode_wpa2_personal_mixed</string>
								<key>spairport_signal_noise</key>
								<string>-56 dBm / 0 dBm</string>
							</dict>
							<dict>
								<key>_name</key>
								<string>lierda</string>
								<key>spairport_network_bssid</key>
								<string>06:69:6c:2f:7c:78</string>
								<key>spairport_network_channel</key>
								<integer>1</integer>
								<key>spairport_network_country_code</key>
								<string>CN</string>
								<key>spairport_network_phymode</key>
								<string>802.11n</string>
								<key>spairport_network_type</key>
								<string>spairport_network_type_station</string>
								<key>spairport_security_mode</key>
								<string>spairport_security_mode_wpa2_personal_mixed</string>
								<key>spairport_signal_noise</key>
								<string>-48 dBm / 0 dBm</string>
							</dict>
							<dict>
								<key>_name</key>
								<string>lierda</string>
								<key>spairport_network_bssid</key>
								<string>06:69:6c:2f:7c:70</string>
								<key>spairport_network_channel</key>
								<integer>1</integer>
								<key>spairport_network_country_code</key>
								<string>CN</string>
								<key>spairport_network_phymode</key>
								<string>802.11n</string>
								<key>spairport_network_type</key>
								<string>spairport_network_type_station</string>
								<key>spairport_security_mode</key>
								<string>spairport_security_mode_wpa2_personal_mixed</string>
								<key>spairport_signal_noise</key>
								<string>-74 dBm / 0 dBm</string>
							</dict>
							<dict>
								<key>_name</key>
								<string>lierda</string>
								<key>spairport_network_bssid</key>
								<string>06:69:6c:2f:7c:4c</string>
								<key>spairport_network_channel</key>
								<integer>1</integer>
								<key>spairport_network_country_code</key>
								<string>CN</string>
								<key>spairport_network_phymode</key>
								<string>802.11n</string>
								<key>spairport_network_type</key>
								<string>spairport_network_type_station</string>
								<key>spairport_security_mode</key>
								<string>spairport_security_mode_wpa2_personal_mixed</string>
								<key>spairport_signal_noise</key>
								<string>-37 dBm / 0 dBm</string>
							</dict>
							<dict>
								<key>_name</key>
								<string>lierda</string>
								<key>spairport_network_bssid</key>
								<string>06:69:6c:25:e6:9a</string>
								<key>spairport_network_channel</key>
								<integer>165</integer>
								<key>spairport_network_country_code</key>
								<string>CN</string>
								<key>spairport_network_phymode</key>
								<string>802.11n</string>
								<key>spairport_network_type</key>
								<string>spairport_network_type_station</string>
								<key>spairport_security_mode</key>
								<string>spairport_security_mode_wpa2_personal_mixed</string>
								<key>spairport_signal_noise</key>
								<string>-77 dBm / -98 dBm</string>
							</dict>
						</array>
						<key>spairport_caps_airdrop</key>
						<string>spairport_caps_supported</string>
						<key>spairport_caps_autounlock</key>
						<string>spairport_caps_supported</string>
						<key>spairport_caps_wow</key>
						<string>spairport_caps_supported</string>
						<key>spairport_current_network_information</key>
						<dict>
							<key>_name</key>
							<string>lierda</string>
							<key>spairport_network_bssid</key>
							<string>06:69:6c:2f:7b:8d</string>
							<key>spairport_network_channel</key>
							<integer>165</integer>
							<key>spairport_network_country_code</key>
							<string>CN</string>
							<key>spairport_network_mcs</key>
							<integer>14</integer>
							<key>spairport_network_phymode</key>
							<string>802.11n</string>
							<key>spairport_network_rate</key>
							<integer>117</integer>
							<key>spairport_network_type</key>
							<string>spairport_network_type_station</string>
							<key>spairport_security_mode</key>
							<string>spairport_security_mode_wpa2_personal</string>
							<key>spairport_signal_noise</key>
							<string>-61 dBm / -98 dBm</string>
						</dict>
						<key>spairport_status_information</key>
						<string>spairport_status_connected</string>
						<key>spairport_supported_channels</key>
						<array>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
							<integer>4</integer>
							<integer>5</integer>
							<integer>6</integer>
							<integer>7</integer>
							<integer>8</integer>
							<integer>9</integer>
							<integer>10</integer>
							<integer>11</integer>
							<integer>12</integer>
							<integer>13</integer>
							<integer>36</integer>
							<integer>40</integer>
							<integer>44</integer>
							<integer>48</integer>
							<integer>52</integer>
							<integer>56</integer>
							<integer>60</integer>
							<integer>64</integer>
							<integer>149</integer>
							<integer>153</integer>
							<integer>157</integer>
							<integer>161</integer>
							<integer>165</integer>
						</array>
						<key>spairport_supported_phymodes</key>
						<string>802.11 a/b/g/n/ac</string>
						<key>spairport_wireless_card_type</key>
						<string>spairport_wireless_card_type_airport_extreme (0x14E4, 0x170)</string>
						<key>spairport_wireless_country_code</key>
						<string>CN</string>
						<key>spairport_wireless_firmware_version</key>
						<string>Broadcom BCM43xx 1.0 (7.77.106.3 AirPortDriverBrcmNIC-1440.1)</string>
						<key>spairport_wireless_locale</key>
						<string>RoW</string>
						<key>spairport_wireless_mac_address</key>
						<string>8c:85:90:a2:4a:9d</string>
					</dict>
				</array>
				<key>spairport_software_information</key>
				<dict>
					<key>spairport_corewlan_version</key>
					<string>13.0 ((null))</string>
					<key>spairport_corewlankit_version</key>
					<string>13.0 ((null))</string>
					<key>spairport_diagnostics_version</key>
					<string>1.0 (910)</string>
					<key>spairport_extra_version</key>
					<string>13.0 ((null))</string>
					<key>spairport_family_version</key>
					<string>12.0 (1200.12.2b1)</string>
					<key>spairport_profiler_version</key>
					<string>12.0 (1355)</string>
					<key>spairport_utility_version</key>
					<string>spairport_not_installed</string>
				</dict>
			</dict>
		</array>
		<key>_name</key>
		<string>_name</string>
		<key>_parentDataType</key>
		<string>SPNetworkDataType</string>
		<key>_properties</key>
		<dict>
			<key>spairport_airdrop_channel</key>
			<dict>
				<key>_order</key>
				<string>142</string>
			</dict>
			<key>spairport_airport_local_wireless_networks</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>250</string>
			</dict>
			<key>spairport_airport_other_local_wireless_networks</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>260</string>
			</dict>
			<key>spairport_caps_airdrop</key>
			<dict>
				<key>_order</key>
				<string>141</string>
			</dict>
			<key>spairport_caps_autounlock</key>
			<dict>
				<key>_order</key>
				<string>144</string>
			</dict>
			<key>spairport_caps_awdl</key>
			<dict>
				<key>_order</key>
				<string>143</string>
			</dict>
			<key>spairport_caps_wow</key>
			<dict>
				<key>_order</key>
				<string>140</string>
			</dict>
			<key>spairport_corewlan_version</key>
			<dict>
				<key>_order</key>
				<string>15</string>
			</dict>
			<key>spairport_corewlankit_version</key>
			<dict>
				<key>_order</key>
				<string>16</string>
			</dict>
			<key>spairport_current_network_information</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>160</string>
			</dict>
			<key>spairport_diagnostics_version</key>
			<dict>
				<key>_order</key>
				<string>75</string>
			</dict>
			<key>spairport_extra_version</key>
			<dict>
				<key>_order</key>
				<string>20</string>
			</dict>
			<key>spairport_family_version</key>
			<dict>
				<key>_order</key>
				<string>70</string>
			</dict>
			<key>spairport_net_prefs_version</key>
			<dict>
				<key>_order</key>
				<string>50</string>
			</dict>
			<key>spairport_network_bssid</key>
			<dict>
				<key>_order</key>
				<string>180</string>
			</dict>
			<key>spairport_network_channel</key>
			<dict>
				<key>_order</key>
				<string>190</string>
			</dict>
			<key>spairport_network_country_code</key>
			<dict>
				<key>_order</key>
				<string>195</string>
			</dict>
			<key>spairport_network_mcs</key>
			<dict>
				<key>_order</key>
				<string>240</string>
			</dict>
			<key>spairport_network_phymode</key>
			<dict>
				<key>_order</key>
				<string>170</string>
			</dict>
			<key>spairport_network_rate</key>
			<dict>
				<key>_order</key>
				<string>230</string>
			</dict>
			<key>spairport_network_type</key>
			<dict>
				<key>_order</key>
				<string>200</string>
			</dict>
			<key>spairport_profiler_version</key>
			<dict>
				<key>_order</key>
				<string>40</string>
			</dict>
			<key>spairport_security_mode</key>
			<dict>
				<key>_order</key>
				<string>210</string>
			</dict>
			<key>spairport_signal_noise</key>
			<dict>
				<key>_order</key>
				<string>220</string>
			</dict>
			<key>spairport_software_information</key>
			<dict>
				<key>_order</key>
				<string>10</string>
			</dict>
			<key>spairport_status_information</key>
			<dict>
				<key>_order</key>
				<string>150</string>
			</dict>
			<key>spairport_supported_channels</key>
			<dict>
				<key>_order</key>
				<string>130</string>
			</dict>
			<key>spairport_supported_phymodes</key>
			<dict>
				<key>_order</key>
				<string>120</string>
			</dict>
			<key>spairport_utility_version</key>
			<dict>
				<key>_order</key>
				<string>79</string>
			</dict>
			<key>spairport_wireless_card_type</key>
			<dict>
				<key>_order</key>
				<string>80</string>
			</dict>
			<key>spairport_wireless_country_code</key>
			<dict>
				<key>_order</key>
				<string>110</string>
			</dict>
			<key>spairport_wireless_firmware_version</key>
			<dict>
				<key>_order</key>
				<string>90</string>
			</dict>
			<key>spairport_wireless_locale</key>
			<dict>
				<key>_order</key>
				<string>100</string>
			</dict>
			<key>spairport_wireless_mac_address</key>
			<dict>
				<key>_order</key>
				<string>95</string>
			</dict>
			<key>volumes</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
			</dict>
		</dict>
		<key>_timeStamp</key>
		<date>2020-03-08T11:08:17Z</date>
		<key>_versionInfo</key>
		<dict>
			<key>com.apple.SystemProfiler.SPAirPortReporter</key>
			<string>1355</string>
		</dict>
	</dict>
</array>
</plist>
