<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>_SPCommandLineArguments</key>
		<array>
			<string>/usr/sbin/system_profiler</string>
			<string>-nospawn</string>
			<string>-xml</string>
			<string>SPBluetoothDataType</string>
			<string>-detailLevel</string>
			<string>full</string>
		</array>
		<key>_SPCompletionInterval</key>
		<real>0.5977550745010376</real>
		<key>_SPResponseTime</key>
		<real>0.69432199001312256</real>
		<key>_dataType</key>
		<string>SPBluetoothDataType</string>
		<key>_detailLevel</key>
		<integer>-1</integer>
		<key>_items</key>
		<array>
			<dict>
				<key>apple_bluetooth_version</key>
				<string>7.0.3f5</string>
				<key>device_title</key>
				<array>
					<dict>
						<key>Bluetooth Mouse M558</key>
						<dict>
							<key>device_addr</key>
							<string>34-88-5D-86-31-04</string>
							<key>device_classOfDevice</key>
							<string>0x05 0x20 0x0580</string>
							<key>device_core_spec</key>
							<string>3.0</string>
							<key>device_fw_version</key>
							<string>0x1010</string>
							<key>device_isNormallyConnectable</key>
							<string>attrib_No</string>
							<key>device_isconfigured</key>
							<string>attrib_Yes</string>
							<key>device_isconnected</key>
							<string>attrib_No</string>
							<key>device_ispaired</key>
							<string>attrib_Yes</string>
							<key>device_majorClassOfDevice_string</key>
							<string>Peripheral</string>
							<key>device_manufacturer</key>
							<string>Broadcom (0x5, 0x2211)</string>
							<key>device_minorClassOfDevice_string</key>
							<string>Mouse</string>
							<key>device_productID</key>
							<string>0xB011</string>
							<key>device_services</key>
							<string>Logitech Bluetooth Wireless Mouse SDP Server, Logitech Bluetooth Wireless Mouse, Logitech Bluetooth Wireless Mouse PnP Server</string>
							<key>device_supportsEDR</key>
							<string>attrib_No</string>
							<key>device_supportsESCO</key>
							<string>attrib_No</string>
							<key>device_supportsSSP</key>
							<string>attrib_Yes</string>
							<key>device_vendorID</key>
							<string>0x046D</string>
						</dict>
					</dict>
					<dict>
						<key>FILCO Bluetooth Keyboard</key>
						<dict>
							<key>device_addr</key>
							<string>00-18-00-3E-59-EE</string>
							<key>device_classOfDevice</key>
							<string>0x05 0x10 0x0540</string>
							<key>device_core_spec</key>
							<string>3.0</string>
							<key>device_fw_version</key>
							<string>0x011B</string>
							<key>device_isNormallyConnectable</key>
							<string>attrib_No</string>
							<key>device_isconfigured</key>
							<string>attrib_Yes</string>
							<key>device_isconnected</key>
							<string>attrib_No</string>
							<key>device_ispaired</key>
							<string>attrib_Yes</string>
							<key>device_majorClassOfDevice_string</key>
							<string>Peripheral</string>
							<key>device_manufacturer</key>
							<string>Broadcom (0x5, 0x2211)</string>
							<key>device_minorClassOfDevice_string</key>
							<string>Keyboard</string>
							<key>device_productID</key>
							<string>0x8502</string>
							<key>device_services</key>
							<string>Broadcom Bluetooth Wireless  Keyboard                        </string>
							<key>device_supportsEDR</key>
							<string>attrib_No</string>
							<key>device_supportsESCO</key>
							<string>attrib_No</string>
							<key>device_supportsSSP</key>
							<string>attrib_No</string>
							<key>device_vendorID</key>
							<string>0x0A5C</string>
						</dict>
					</dict>
					<dict>
						<key>JBL GO</key>
						<dict>
							<key>device_addr</key>
							<string>30-C0-1B-B2-8D-C6</string>
							<key>device_classOfDevice</key>
							<string>0x04 0x01 0x240404</string>
							<key>device_core_spec</key>
							<string>4.1</string>
							<key>device_isconfigured</key>
							<string>attrib_Yes</string>
							<key>device_isconnected</key>
							<string>attrib_No</string>
							<key>device_ispaired</key>
							<string>attrib_Yes</string>
							<key>device_majorClassOfDevice_string</key>
							<string>Audio</string>
							<key>device_manufacturer</key>
							<string>Unknown (0x7, 0x13B3)</string>
							<key>device_minorClassOfDevice_string</key>
							<string>Headset</string>
							<key>device_services</key>
							<string>AVRCP CT, A2DP Sink, HandsFree, vCOMM, AVRCP TG</string>
							<key>device_supportsEDR</key>
							<string>attrib_Yes</string>
							<key>device_supportsESCO</key>
							<string>attrib_Yes</string>
							<key>device_supportsSSP</key>
							<string>attrib_Yes</string>
						</dict>
					</dict>
					<dict>
						<key>WH-1000XM3</key>
						<dict>
							<key>device_addr</key>
							<string>CC-98-8B-B1-2C-5B</string>
							<key>device_classOfDevice</key>
							<string>0x04 0x01 0x240404</string>
							<key>device_core_spec</key>
							<string>4.1</string>
							<key>device_fw_version</key>
							<string>0x0413</string>
							<key>device_isconfigured</key>
							<string>attrib_Yes</string>
							<key>device_isconnected</key>
							<string>attrib_No</string>
							<key>device_ispaired</key>
							<string>attrib_Yes</string>
							<key>device_majorClassOfDevice_string</key>
							<string>Audio</string>
							<key>device_manufacturer</key>
							<string>Cambridge Silicon Radio (0x7, 0x328E)</string>
							<key>device_minorClassOfDevice_string</key>
							<string>Headset</string>
							<key>device_productID</key>
							<string>0x0CD3</string>
							<key>device_services</key>
							<string>Hands-Free unit, Wireless TCX, Wireless iAP, Headset, </string>
							<key>device_supportsEDR</key>
							<string>attrib_Yes</string>
							<key>device_supportsESCO</key>
							<string>attrib_Yes</string>
							<key>device_supportsSSP</key>
							<string>attrib_Yes</string>
							<key>device_vendorID</key>
							<string>0x054C</string>
						</dict>
					</dict>
					<dict>
						<key>zm的 Apple Watch</key>
						<dict>
							<key>device_addr</key>
							<string>E8-36-17-8A-82-CC</string>
							<key>device_classOfDevice</key>
							<string>0x00 0x00 0x0000</string>
							<key>device_core_spec</key>
							<string>5.0</string>
							<key>device_isconfigured</key>
							<string>attrib_Yes</string>
							<key>device_isconnected</key>
							<string>attrib_No</string>
							<key>device_ispaired</key>
							<string>attrib_No</string>
							<key>device_majorClassOfDevice_string</key>
							<string>Miscellaneous</string>
							<key>device_manufacturer</key>
							<string>Apple (0x9, 0x2040)</string>
							<key>device_minorClassOfDevice_string</key>
							<string>Unknown</string>
							<key>device_services</key>
							<string></string>
						</dict>
					</dict>
					<dict>
						<key>zm的 iPhone</key>
						<dict>
							<key>device_addr</key>
							<string>F8-95-EA-7E-73-5B</string>
							<key>device_classOfDevice</key>
							<string>0x02 0x03 0x7A020C</string>
							<key>device_core_spec</key>
							<string>5.0</string>
							<key>device_isconfigured</key>
							<string>attrib_Yes</string>
							<key>device_isconnected</key>
							<string>attrib_No</string>
							<key>device_ispaired</key>
							<string>attrib_No</string>
							<key>device_majorClassOfDevice_string</key>
							<string>Phone</string>
							<key>device_manufacturer</key>
							<string>Broadcom (0x9, 0x420E)</string>
							<key>device_minorClassOfDevice_string</key>
							<string>Smartphone</string>
							<key>device_services</key>
							<string></string>
							<key>device_vendorID</key>
							<string>0x004C</string>
						</dict>
					</dict>
				</array>
				<key>incoming_serial_ports_title</key>
				<array>
					<dict>
						<key>Bluetooth-Incoming-Port</key>
						<dict>
							<key>device_authentication</key>
							<string>attrib_No</string>
							<key>device_channel</key>
							<string>3</string>
						</dict>
					</dict>
				</array>
				<key>local_device_title</key>
				<dict>
					<key>general_address</key>
					<string>8C-85-90-A8-70-17</string>
					<key>general_autoseek_keyboard</key>
					<string>attrib_On</string>
					<key>general_autoseek_pointing</key>
					<string>attrib_On</string>
					<key>general_chipset</key>
					<string>4350</string>
					<key>general_connectable</key>
					<string>attrib_Yes</string>
					<key>general_device_class_composite</key>
					<string>0x38010C</string>
					<key>general_device_class_major</key>
					<string>0x01</string>
					<key>general_device_class_minor</key>
					<string>0x03</string>
					<key>general_discoverable</key>
					<string>attrib_Off</string>
					<key>general_fw_version</key>
					<string>v127 c5602</string>
					<key>general_hardware_transport</key>
					<string>UART</string>
					<key>general_hci_revision</key>
					<string>0x15E2</string>
					<key>general_hci_version</key>
					<string>4.2 (0x8)</string>
					<key>general_lmp_subversion</key>
					<string>0x617F</string>
					<key>general_lmp_version</key>
					<string>4.2 (0x8)</string>
					<key>general_mfg</key>
					<string>Broadcom</string>
					<key>general_name</key>
					<string>黄振民的MacBook Pro</string>
					<key>general_power</key>
					<string>attrib_On</string>
					<key>general_productID</key>
					<string>0x005C</string>
					<key>general_remoteWake</key>
					<string>attrib_On</string>
					<key>general_service_class</key>
					<string>0x1C0</string>
					<key>general_supports_handoff</key>
					<string>attrib_Yes</string>
					<key>general_supports_instantHotspot</key>
					<string>attrib_Yes</string>
					<key>general_supports_lowEnergy</key>
					<string>attrib_Yes</string>
					<key>general_type_complete_string</key>
					<string>Mac Portable</string>
					<key>general_type_major_string</key>
					<string>Computer</string>
					<key>general_vendorID</key>
					<string>0x05AC</string>
				</dict>
				<key>outgoing_serial_ports_title</key>
				<array>
					<dict>
						<key>JBLGO-vCOMM</key>
						<dict>
							<key>device_authentication</key>
							<string>attrib_No</string>
							<key>device_channel</key>
							<string>5</string>
							<key>general_address</key>
							<string>30-C0-1B-B2-8D-C6</string>
						</dict>
					</dict>
				</array>
				<key>services_title</key>
				<array>
					<dict>
						<key>file_browsing_title</key>
						<dict>
							<key>service_FTPRootFolder</key>
							<string>~/Public</string>
							<key>service_OBEXReceive</key>
							<string>service_acceptAll</string>
							<key>service_state</key>
							<string>attrib_disabled</string>
						</dict>
					</dict>
					<dict>
						<key>object_push_title</key>
						<dict>
							<key>service_OBEXFolder</key>
							<string>~/Downloads</string>
							<key>service_OBEXHandle_Other</key>
							<string>service_saveToLocation</string>
							<key>service_OBEXReceive</key>
							<string>service_acceptAll</string>
							<key>service_state</key>
							<string>attrib_disabled</string>
						</dict>
					</dict>
					<dict>
						<key>internet_sharing_title</key>
						<dict>
							<key>service_state</key>
							<string>attrib_disabled</string>
						</dict>
					</dict>
				</array>
			</dict>
		</array>
		<key>_name</key>
		<string>SPBluetoothDataType</string>
		<key>_parentDataType</key>
		<string>SPHardwareDataType</string>
		<key>_properties</key>
		<dict>
			<key>_name</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_isColumn</key>
				<string>YES</string>
				<key>_isOutlineColumn</key>
				<string>YES</string>
				<key>_order</key>
				<string>0</string>
			</dict>
			<key>apple_bluetooth_version</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>10</string>
			</dict>
			<key>cache_title</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>700</string>
			</dict>
			<key>device_AFHEnabled</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>245</string>
			</dict>
			<key>device_AFHMap</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>250</string>
			</dict>
			<key>device_ConnectionMode</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>265</string>
			</dict>
			<key>device_RSSI</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>255</string>
			</dict>
			<key>device_addr</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>160</string>
			</dict>
			<key>device_address_resolvable</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>170</string>
			</dict>
			<key>device_address_type</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>165</string>
			</dict>
			<key>device_authenticaion</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>210</string>
			</dict>
			<key>device_batteryPercent</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>205</string>
			</dict>
			<key>device_channel</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>220</string>
			</dict>
			<key>device_classOfDevice</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>240</string>
			</dict>
			<key>device_core_spec</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>225</string>
			</dict>
			<key>device_encryption</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>215</string>
			</dict>
			<key>device_fw_version</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>225</string>
			</dict>
			<key>device_interval</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>270</string>
			</dict>
			<key>device_isconfigured</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>190</string>
			</dict>
			<key>device_isconnected</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>195</string>
			</dict>
			<key>device_ispaired</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>185</string>
			</dict>
			<key>device_majorClassOfDevice_string</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>175</string>
			</dict>
			<key>device_manufacturer</key>
			<dict>
				<key>_order</key>
				<string>200</string>
			</dict>
			<key>device_minorClassOfDevice_string</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>176</string>
			</dict>
			<key>device_name</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>155</string>
			</dict>
			<key>device_productID</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>235</string>
			</dict>
			<key>device_role</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>260</string>
			</dict>
			<key>device_services</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>180</string>
			</dict>
			<key>device_title</key>
			<dict>
				<key>_order</key>
				<string>150</string>
			</dict>
			<key>device_vendorID</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>230</string>
			</dict>
			<key>devices_title</key>
			<dict>
				<key>_order</key>
				<string>150</string>
			</dict>
			<key>general_address</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>15</string>
			</dict>
			<key>general_autoseek_pointing</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>77</string>
			</dict>
			<key>general_chipset</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>60</string>
			</dict>
			<key>general_connectable</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>72</string>
			</dict>
			<key>general_device_class_composite</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>116</string>
			</dict>
			<key>general_device_class_major</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>117</string>
			</dict>
			<key>general_device_class_minor</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>118</string>
			</dict>
			<key>general_discoverable</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>71</string>
			</dict>
			<key>general_fw_version</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>62</string>
			</dict>
			<key>general_hardware_features</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>50</string>
			</dict>
			<key>general_hardware_transport</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>51</string>
			</dict>
			<key>general_hci_revision</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>111</string>
			</dict>
			<key>general_hci_version</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>110</string>
			</dict>
			<key>general_lmp_subversion</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>113</string>
			</dict>
			<key>general_lmp_version</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>112</string>
			</dict>
			<key>general_mfg</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>41</string>
			</dict>
			<key>general_name</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>13</string>
			</dict>
			<key>general_power</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>70</string>
			</dict>
			<key>general_productID</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>91</string>
			</dict>
			<key>general_remoteWake</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>79</string>
			</dict>
			<key>general_service_class</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>119</string>
			</dict>
			<key>general_supports_airDrop</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>31</string>
			</dict>
			<key>general_supports_handoff</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>32</string>
			</dict>
			<key>general_supports_instantHotspot</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>33</string>
			</dict>
			<key>general_supports_lowEnergy</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>30</string>
			</dict>
			<key>general_type_complete_string</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>115</string>
			</dict>
			<key>general_type_major_string</key>
			<dict>
				<key>_detailLevel</key>
				<string>1</string>
				<key>_order</key>
				<string>114</string>
			</dict>
			<key>general_vendorID</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>90</string>
			</dict>
			<key>incoming_serial_ports_title</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>600</string>
			</dict>
			<key>local_device_title</key>
			<dict>
				<key>_detailLevel</key>
				<string>-1</string>
				<key>_order</key>
				<string>20</string>
			</dict>
			<key>outgoing_serial_ports_title</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>601</string>
			</dict>
			<key>serialports_title</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>400</string>
			</dict>
			<key>service_FTPRootFolder</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>320</string>
			</dict>
			<key>service_OBEXFolder</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>330</string>
			</dict>
			<key>service_internet_sharing</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>310</string>
			</dict>
			<key>services_title</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
				<key>_order</key>
				<string>300</string>
			</dict>
			<key>volumes</key>
			<dict>
				<key>_detailLevel</key>
				<string>0</string>
			</dict>
		</dict>
		<key>_timeStamp</key>
		<date>2020-03-08T11:08:17Z</date>
		<key>_versionInfo</key>
		<dict>
			<key>com.apple.SystemProfiler.SPBluetoothReporter</key>
			<string>7.0.3f5</string>
		</dict>
	</dict>
</array>
</plist>
